{% extends "base.html" %}

{% block Header_Contents %}
<a class="btn btn-primary" href={% url 'admin:todo_todo_add' %} target = "_blank" role="button">Add</a>

{% endblock Header_Contents %}



{% block content %}
  <hr>
  {% for todo in  todo_list%}
    <p>{{todo.name}}    {{todo.complete_by_datetime}}
      <a class="btn btn-success" href={% url 'admin:todo_todo_change' todo.pk%} target = "_blank" role="button">Edit</a>
      <a class="btn btn-danger" href={% url 'admin:todo_todo_delete' todo.pk%} target = "_blank" role="button">Delete</a>
      <p>

    <hr>
  {% endfor %}

{% endblock content %}

